Package: com.qq.docs.tdappdesktop
Version: 2.2.22
License: MIT
Vendor: Tencent Doc
Architecture: amd64
Maintainer: Tencent Doc
Installed-Size: 221652
Depends: libgtk-3-0, libnotify4, libnss3, libxss1, libxtst6, xdg-utils, libatspi2.0-0, libuuid1, libsecret-1-0
Recommends: libappindicator3-1
Section: default
Priority: optional
Homepage: https://docs.qq.com/home
Description: 腾讯文档
